// Home Content

.nav-section {
  .flex-style(center, center, row);
  .nav-content {
    .flex-style(space-between, center, column);
    width: 100%;
    font-size: 5rem;
    background-color: @nav-bg;
    color: @nav-font;
    border: @nav-border;
    .padding-styles(0, 2rem, 0, 2rem);
  }
}

.home {

  .intro {
    #cover-image {
      background: #fff url('../img/main-header.png') center center no-repeat;
      color: white;
      height: 25vh;
      text-align: center;
      display: flex;
      align-items: center;
      .padding-styles(0, 1.4rem, 0, 1.4rem);
    }

    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }
  
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;

      @media @phone {
          width: 100%;
          &.sky, &.launch {
            display: none;
          }
      }
    }
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;

    .walk-text {
      width: 50%;

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

      .btn {
      }
    }

    .walk-img {
      width: 46%;
      margin-left: 4%;
      
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }
}// home