// Mixins Here
.flex-style(@justifyContent, @alignItems, @direction) {
    display: flex;
    justify-content: @justifyContent;
    align-items: @alignItems;
    flex-direction: @direction;
}

.padding-styles(@top, @right, @bottom, @left) {
    padding: @top @right @bottom @left;
}

.btn{
    border-radius: 0.5rem;
    width: 12rem;
    background-color: @button-bg;
    .padding-styles(1rem, 1rem, 1rem, 1rem);
    text-align: center;
    font-size: @buttonFontSize;
    color: @white;
}